.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
    width: 500px;
    margin: 50px auto;
}
.title {
    background-color: #fff;
    padding: 20px 30px;
}
.statList {
display: flex;
list-style: none;
padding: 0;

}
.item {
 width: 60px;
 text-align: center;
 
}
.label {
display: block;
}
.percentage {
    display: block;
}